.txt {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    font-feature-settings: 'salt' on, 'liga' off;
    /* Text / Gray 900 */
    color: #18191F;
}

.txt2 {
    font-weight: 500;
    margin: auto;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
}

.btn {
    display: grid;
    width: 154px;
    height: 48px;
    background: #8C30F5;
    border-radius: 6px;
    margin-top: 35px;
    transition: .2s linear;
    animation: animateHeart .9s infinite;
    &:hover {
        background: black;
        pointer: cursor;
        transform: scale(1.1);
    }
}