.features {
    @mixin atLarge {
        display: grid;
    }
    &_title {
        @mixin atLarge {
            max-width: 540px;
            margin: auto;
            margin-top: 64px;
            margin-bottom: 48px;
        }
    }
    &_heading {
        @mixin atLarge {
            font-weight: 800;
            font-size: 48px;
            line-height: 64px;
        }
    }
    &_p {
        @mixin atLarge {
            text-align: center;
            font-weight: normal;
            font-size: 18px;
            line-height: 32px;
        }
    }
    &_inner {
        @mixin atLarge {
            margin-bottom: 64px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
            grid-gap: 60px 30px;
        }
        &_span1 {
            @mixin atLarge {
                display: grid;
            }
            &>img {
                @mixin atLarge {
                    margin: auto;
                }
            }
            &>h3 {
                @mixin atLarge {
                    margin: auto;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    padding-top: 24px;
                    padding-bottom: 8px;
                }
            }
            &>p {
                @mixin atLarge {
                    margin: auto;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
        &_span2 {
            @mixin atLarge {
                display: grid;
            }
            &>img {
                @mixin atLarge {
                    margin: auto;
                }
            }
            &>h3 {
                @mixin atLarge {
                    margin: auto;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    padding-top: 24px;
                    padding-bottom: 8px;
                }
            }
            &>p {
                @mixin atLarge {
                    margin: auto;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
        &_span3 {
            @mixin atLarge {
                display: grid;
            }
            &>img {
                @mixin atLarge {
                    margin: auto;
                }
            }
            &>h3 {
                @mixin atLarge {
                    margin: auto;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    padding-top: 24px;
                    padding-bottom: 8px;
                }
            }
            &>p {
                @mixin atLarge {
                    margin: auto;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
        &_span4 {
            @mixin atLarge {
                display: grid;
            }
            &>img {
                @mixin atLarge {
                    margin: auto;
                }
            }
            &>h3 {
                @mixin atLarge {
                    margin: auto;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    padding-top: 24px;
                    padding-bottom: 8px;
                }
            }
            &>p {
                @mixin atLarge {
                    margin: auto;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
        &_span5 {
            @mixin atLarge {
                display: grid;
            }
            &>img {
                @mixin atLarge {
                    margin: auto;
                }
            }
            &>h3 {
                @mixin atLarge {
                    margin: auto;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    padding-top: 24px;
                    padding-bottom: 8px;
                }
            }
            &>p {
                @mixin atLarge {
                    margin: auto;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
        &_span6 {
            @mixin atLarge {
                display: grid;
            }
            &>img {
                @mixin atLarge {
                    margin: auto;
                }
            }
            &>h3 {
                @mixin atLarge {
                    margin: auto;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    padding-top: 24px;
                    padding-bottom: 8px;
                }
            }
            &>p {
                @mixin atLarge {
                    margin: auto;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
    }
}