.features {
    margin-bottom: 65px;
    @mixin atLarge {
        margin-bottom: 0;
    }
    &_title {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 64px;
        margin-bottom: 48px;
    }
    &_heading {
        font-weight: 800;
        font-size: 25px;
        line-height: 43px;
        @mixin atSmall {
            font-size: 31px;
            line-height: 61px;
        }
        @mixin atMedium {
            font-size: 48px;
            line-height: 67px;
        }
    }
    &_p {
        max-width: 421px;
        text-align: center;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        @mixin atMedium {
            max-width: 768px;
        }
    }
    &_inner {
        @mixin atMedium {
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2, 350px);
            grid-gap: 60px 30px;
        }
        @mixin atLarge {
            margin-bottom: 64px;
            grid-template-columns: repeat(3, 350px);
        }
        &_span1 {
            display: grid;
            @mixin atLarge {}
            &>img {
                margin: auto;
                @mixin atLarge {}
            }
            &>h3 {
                margin: auto;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                padding-top: 24px;
                padding-bottom: 8px;
                @mixin atLarge {}
            }
            &>p {
                margin: auto;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                @mixin atLarge {}
            }
        }
        &_span2 {
            display: grid;
            margin-top: 37px;
            @mixin atMedium {
                margin-top: 0;
            }
            &>img {
                margin: auto;
                @mixin atLarge {}
            }
            &>h3 {
                margin: auto;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                padding-top: 24px;
                padding-bottom: 8px;
                @mixin atLarge {}
            }
            &>p {
                margin: auto;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                @mixin atLarge {}
            }
        }
        &_span3 {
            display: grid;
            margin-top: 37px;
            @mixin atMedium {
                margin-top: 0;
            }
            &>img {
                margin: auto;
                @mixin atLarge {}
            }
            &>h3 {
                margin: auto;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                padding-top: 24px;
                padding-bottom: 8px;
                @mixin atLarge {}
            }
            &>p {
                margin: auto;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                @mixin atLarge {}
            }
        }
        &_span4 {
            display: grid;
            margin-top: 37px;
            @mixin atMedium {
                margin-top: 0;
            }
            &>img {
                margin: auto;
                @mixin atLarge {}
            }
            &>h3 {
                margin: auto;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                padding-top: 24px;
                padding-bottom: 8px;
                @mixin atLarge {}
            }
            &>p {
                margin: auto;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                @mixin atLarge {}
            }
        }
        &_span5 {
            display: grid;
            margin-top: 37px;
            @mixin atMedium {
                margin-top: 0;
            }
            &>img {
                margin: auto;
                @mixin atLarge {}
            }
            &>h3 {
                margin: auto;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                padding-top: 24px;
                padding-bottom: 8px;
                @mixin atLarge {}
            }
            &>p {
                margin: auto;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                @mixin atLarge {}
            }
        }
        &_span6 {
            display: grid;
            margin-top: 37px;
            @mixin atMedium {
                margin-top: 0;
            }
            &>img {
                margin: auto;
                @mixin atLarge {}
            }
            &>h3 {
                margin: auto;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                padding-top: 24px;
                padding-bottom: 8px;
                @mixin atLarge {}
            }
            &>p {
                margin: auto;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                @mixin atLarge {}
            }
        }
    }
}