/* Footer Element */

footer {
    @mixin atLarge {
        background: #0B0D17;
        height: 280px;
    }
}


/* Footer Class Started */

.footer {
    margin-top: 17px;
    @mixin atLarge {
        margin-top: 0;
        display: flex;
        justify-content: space-between;
    }
    /* 2nd FlexBox */
    &_left {
        display: flex;
        flex-direction: column;
        align-items: center;
        @mixin atLarge {
            align-items: flex-start;
        }
        /* Footer Logo  */
        &_logo {
            @mixin atLarge {
                margin-top: 56px;
            }
        }
        /* Download now, Licence */
        &_Download {
            @mixin atLarge {
                margin-top: 48px;
            }
            &>a {
                @mixin atLarge {
                    text-align: left;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 26px;
                    color: #FFFFFF;
                }
                &:nth-child(1) {
                    @mixin atLarge {
                        padding-right: 24px;
                    }
                }
            }
        }
        /* About,Options... */
        &_About {
            @mixin atLarge {
                padding-top: 12px;
            }
            &>a {
                @mixin atLarge {
                    text-align: left;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 26px;
                    color: #FFFFFF;
                }
                /* About, Features,Pricing,Careers,Help */
                &:nth-child(n) {
                    @mixin atLarge {
                        padding-right: 24px;
                    }
                }
                /* Target "Privacy Policy" */
                &:nth-last-child(1) {
                    @mixin atLarge {
                        padding-right: 0px;
                    }
                }
            }
        }
        /* @copy 2021 */
        &_copy {
            @mixin atLarge {
                padding-top: 24px;
            }
            &>p {
                @mixin atLarge {
                    text-align: left;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                    color: #D9DBE1;
                }
            }
        }
    }
    /* <!-- FlexBox 2 - Footer Right Side --> */
    &_right {
        @mixin atLarge {}
        &>h3 {
            padding-top: 10px;
            font-weight: 900;
            font-size: 19px;
            @mixin atLarge {
                padding-top: 0;
                margin-top: 56px;
                text-align: left;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                color: #D9DBE1;
            }
        }
        &>span {
            display: flex;
            max-width: 280px;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
            padding-top: 16px;
            padding-bottom: 25px;
        }
    }
}