.headline {
    @media (min-width: 1200px) and (max-width: 1350px) {
        gap: 15px !important;
        height: 565px !important;
    }
    @mixin atLarge {
        height: 621px;
        display: flex;
        gap: 78px;
        padding: 0px 165px;
    }
    &_logo {
        @mixin atLarge {
            width: 540px;
            height: 540px;
            padding-top: 64px;
        }
    }
    &_heading {
        width: 320px;
        margin: 0 auto;
        @media (max-width: 1199px) {
            margin-top: 29px;
            margin-bottom: 29px;
        }
        @mixin atSmall {
            width: 530px;
        }
        @mixin atLarge {
            width: 540px;
            height: 302px;
        }
        &>h2 {
            font-weight: 800;
            font-size: 25px;
            line-height: 29px;
            @mixin atSmall {
                font-size: 40px;
                line-height: 54px;
            }
            @media (min-width: 1200px) and (max-width: 1350px) {
                padding-top: 143px !important;
            }
            @mixin atLarge {
                padding-top: 165px;
                padding-bottom: 32px;
                text-align: left;
            }
        }
        &>p {
            font-size: 18px;
            line-height: 27px;
            font-weight: normal;
            @mixin atSmall {
                font-size: 16px;
            }
            @mixin atLarge {
                width: 444px;
                padding-bottom: 32px;
                text-align: left;
                font-size: 18px;
                line-height: 32px;
            }
        }
        &>a {
            cursor: pointer;
            &>img {
                @media (max-width: 1199px) {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}