.logo {
    display: flex;
    justify-content: space-evenly;
    padding: 16px 0px;
    cursor: pointer;
    align-items: center;
    animation: animateHeart 10s infinite;
    @mixin atLarge {
        max-width: 891px;
        margin: 0 auto;
        gap: 64px;
    }
    @media (max-width: 529px) {
        &_airbnb>img {
            width: 75%;
        }
        &_hubspot>img {
            width: 75%;
        }
        &_google>img {
            width: 75%;
        }
        &_microsoft>img {
            width: 75%;
        }
        &_walmart>img {
            width: 75%;
        }
        &_fedex>img {
            width: 75%;
        }
    }
    @media (min-width:530px) and (max-width: 767px) {
        &_airbnb>img {
            width: 85%;
        }
        &_hubspot>img {
            width: 85%;
        }
        &_google>img {
            width: 85%;
        }
        &_microsoft>img {
            width: 85%;
        }
        &_walmart>img {
            width: 85%;
        }
        &_fedex>img {
            width: 85%;
        }
    }
}