.main-bg {
    background-image: url("assets/images/bg-s.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    @mixin atMedium {
        background-image: url("assets/images/bg.png");
        /* height: 866px; */
        position: relative;
    }
    @mixin atLarge {}
}

.main {
    &_home {
        @mixin atMedium {
            margin-top: 59px;
        }
        @mixin atLarge {
            position: relative;
            margin-top: 167px;
            width: 730px;
            height: 276px;
        }
    }
    &_title {
        font-style: normal;
        font-weight: 800;
        font-size: 23px;
        line-height: 11px;
        font-feature-settings: 'salt' on, 'liga' off;
        color: #18191F;
        @mixin atSmall {
            font-size: 35px;
            line-height: 19px;
        }
        @mixin atMedium {
            font-size: 43px;
        }
        @mixin atLarge {
            margin-bottom: 0;
            font-size: 72px;
            line-height: 51px;
        }
    }
    /* Mobile Img */
    &_mobile-img {
        width: 35%;
        margin-right: -33px;
        @mixin atLarge {
            margin-right: 0;
            width: auto;
            margin-top: 112px;
            animation: animateHeart 3s infinite;
        }
    }
    @keyframes animateHeart {
        // scale down and scale up faster in irregular intervals to get the throbbing effect
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(0.9);
        }
        100% {
            transform: scale(1);
        }
    }
}