.nav {
    @mixin atMedium {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
    }
    @mixin atLarge {
        padding-top: 20px;
    }
    /* Nav Left Side Start */
    &_left-side {
        @mixin atMedium {
            display: flex;
            justify-content: space-between;
            gap: 41px;
        }
        @mixin atLarge {
            gap: 32px;
        }
    }
    &_landify {
        display: flex;
        padding-top: 10px;
        @mixin atMedium {
            padding-top: 0;
        }
    }
    &_logo2 {
        padding-top: 6px;
        padding-left: 5px;
        @mixin atLarge {
            margin-top: 6px;
            margin-left: 35px;
            padding-top: 0;
            padding-left: 0;
        }
    }
    /* Navigation Options Modification */
    &_options {
        padding-left: 17px;
        padding-top: 6px;
        @mixin atLarge {
            margin-top: 5px;
            padding-left: 0;
            padding-top: 0;
        }
        & ul {
            list-style: none;
            display: flex;
            gap: 20px;
            @mixin atLarge {
                gap: 32px;
            }
        }
        & ul li {
            /* height: 20px;
            width: 80px; */
            text-align: center;
            color: #fff;
            position: relative;
            transition: .3s linear;
            @mixin atLarge {}
        }
        & ul li:hover {
            transform: scale(1.1);
            color: black;
            border-bottom: 1px solid rgb(233, 233, 233);
            @mixin atLarge {}
        }
        & ul ul {
            display: none;
            position: absolute;
            @mixin atLarge {}
        }
        & ul li:hover>ul {
            display: block;
            margin-top: 0px;
            @mixin atLarge {
                margin-top: 0px;
            }
        }
    }
    /* --- Nav Left Side EnD --- */
    /* /* Nav Right Side Start */
    &_right-side {
        position: absolute;
        opacity: 0;
        z-index: -11;
        @mixin atMedium {
            position: relative;
            opacity: 1;
            z-index: 1;
        }
        @mixin atLarge {
            display: flex;
            gap: 11px;
        }
    }
    &_google-store {
        cursor: pointer;
        transition: .3s linear;
        &:hover {
            transform: scale(1.1);
        }
    }
    &_apple-store {
        cursor: pointer;
        transition: .3s linear;
        &:hover {
            transform: scale(1.1);
        }
    }
}


/* Animation for Logo spin */

.nav_logo {
    @mixin atLarge {
        position: absolute;
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}