.stats {
    @mixin atLarge {
        height: 275px;
        margin-left: auto;
        margin-right: auto;
    }
    &_headline {
        margin-top: 29px;
        margin-bottom: 23px;
        @mixin atLarge {
            margin-top: 0;
            margin-bottom: 0;
            width: 540px;
            height: 128px;
            margin-left: auto;
            margin-right: auto;
        }
        &>h2 {
            font-weight: 800;
            font-size: 40px;
            line-height: 39px;
            padding-bottom: 11px;
            @mixin atLarge {
                font-size: 48px;
                line-height: 64px;
                text-align: left;
            }
        }
        &>p {
            font-size: 19px;
            line-height: 23px;
            @mixin atLarge {
                font-weight: normal;
                font-size: 18px;
                line-height: 32px;
                text-align: left;
            }
        }
    }
    &_survey {
        margin-bottom: 17px;
        @mixin atSmall {
            width: 529px;
            height: 193px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 30px 30px;
            margin-bottom: 37px;
        }
        /* <!-- Survey 1 --> */
        &_1 {
            @mixin atLarge {
                display: flex;
                gap: 16px;
            }
            /* stats_survey_1_logo FlexBox 1 */
            &_logo {
                @media (max-width: 1199px) {
                    width: 32px;
                    margin: 0 auto;
                    margin-bottom: 5px;
                }
                @mixin atLarge {
                    padding-top: 17px;
                }
            }
            /* stats_survey_1_headline FlexBox 2 */
            &_headline {
                &>h2 {
                    font-size: 27px;
                    @mixin atLarge {
                        text-align: left;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 40px;
                    }
                }
                &>p {
                    font-size: 16px;
                    @mixin atLarge {
                        text-align: left;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
        }
        /* <!-- Survey 2 --> */
        &_2 {
            @mixin atLarge {
                display: flex;
                gap: 16px;
            }
            /* stats_survey_1_logo FlexBox 1 */
            &_logo {
                @media (max-width: 1199px) {
                    width: 32px;
                    margin: 0 auto;
                    margin-bottom: 5px;
                    margin-top: 9px;
                }
                @mixin atLarge {
                    padding-top: 17px;
                }
            }
            /* stats_survey_1_headline FlexBox 2 */
            &_headline {
                &>h2 {
                    font-size: 27px;
                    @mixin atLarge {
                        text-align: left;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 40px;
                    }
                }
                &>p {
                    font-size: 16px;
                    @mixin atLarge {
                        text-align: left;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
        }
        /* <!-- Survey 3 --> */
        &_3 {
            @mixin atLarge {
                display: flex;
                gap: 16px;
            }
            /* stats_survey_1_logo FlexBox 1 */
            &_logo {
                @media (max-width: 1199px) {
                    width: 32px;
                    margin: 0 auto;
                    margin-bottom: 5px;
                    margin-top: 9px;
                }
                @mixin atLarge {
                    padding-top: 17px;
                }
            }
            /* stats_survey_1_headline FlexBox 2 */
            &_headline {
                &>h2 {
                    font-size: 27px;
                    @mixin atLarge {
                        text-align: left;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 40px;
                    }
                }
                &>p {
                    font-size: 16px;
                    @mixin atLarge {
                        text-align: left;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
        }
        /* <!-- Survey 4 --> */
        &_4 {
            @mixin atLarge {
                display: flex;
                gap: 16px;
            }
            /* stats_survey_1_logo FlexBox 1 */
            &_logo {
                @media (max-width: 1199px) {
                    width: 32px;
                    margin: 0 auto;
                    margin-bottom: 5px;
                    margin-top: 9px;
                }
                @mixin atLarge {
                    padding-top: 11px;
                }
            }
            /* stats_survey_1_headline FlexBox 2 */
            &_headline {
                &>h2 {
                    font-size: 27px;
                    @mixin atLarge {
                        text-align: left;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 40px;
                    }
                }
                &>p {
                    font-size: 16px;
                    @mixin atLarge {
                        text-align: left;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}