.stats {
    @mixin atLarge {
        height: 332px;
        margin-left: auto;
        margin-right: auto;
    }
    &_headline {
        @mixin atLarge {
            width: 540px;
            height: 128px;
            margin-left: auto;
            margin-right: auto;
        }
        &>h2 {
            @mixin atLarge {
                font-weight: 800;
                font-size: 48px;
                line-height: 64px;
                text-align: left;
            }
        }
        &>p {
            @mixin atLarge {
                font-weight: normal;
                font-size: 18px;
                line-height: 32px;
                text-align: left;
            }
        }
    }
    &_survey {
        @mixin atLarge {
            width: 540px;
            height: 172px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 30px 30px;
        }
        /* <!-- Survey 1 --> */
        &_1 {
            @mixin atLarge {
                display: flex;
                gap: 16px;
            }
            /* stats_survey_1_logo FlexBox 1 */
            &_logo {
                @mixin atLarge {
                    padding-top: 17px;
                }
            }
            /* stats_survey_1_headline FlexBox 2 */
            &_headline {
                &>h2 {
                    @mixin atLarge {
                        text-align: left;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 40px;
                    }
                }
                &>p {
                    @mixin atLarge {
                        text-align: left;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
        }
        /* <!-- Survey 2 --> */
        &_2 {
            @mixin atLarge {
                display: flex;
                gap: 16px;
            }
            /* stats_survey_1_logo FlexBox 1 */
            &_logo {
                @mixin atLarge {
                    padding-top: 17px;
                }
            }
            /* stats_survey_1_headline FlexBox 2 */
            &_headline {
                &>h2 {
                    @mixin atLarge {
                        text-align: left;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 40px;
                    }
                }
                &>p {
                    @mixin atLarge {
                        text-align: left;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
        }
        /* <!-- Survey 3 --> */
        &_3 {
            @mixin atLarge {
                display: flex;
                gap: 16px;
            }
            /* stats_survey_1_logo FlexBox 1 */
            &_logo {
                @mixin atLarge {
                    padding-top: 17px;
                }
            }
            /* stats_survey_1_headline FlexBox 2 */
            &_headline {
                &>h2 {
                    @mixin atLarge {
                        text-align: left;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 40px;
                    }
                }
                &>p {
                    @mixin atLarge {
                        text-align: left;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
        }
        /* <!-- Survey 4 --> */
        &_4 {
            @mixin atLarge {
                display: flex;
                gap: 16px;
            }
            /* stats_survey_1_logo FlexBox 1 */
            &_logo {
                @mixin atLarge {
                    padding-top: 17px;
                }
            }
            /* stats_survey_1_headline FlexBox 2 */
            &_headline {
                &>h2 {
                    @mixin atLarge {
                        text-align: left;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 40px;
                    }
                }
                &>p {
                    @mixin atLarge {
                        text-align: left;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}