.wrapper {
    @mixin atLarge {
        overflow: hidden;
        padding-left: 18px;
        padding-right: 18px;
        max-width: 1130px;
        margin-left: auto;
        margin-right: auto;
    }
    &_main {
        @mixin atLarge {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;
        }
    }
    &_less {
        @mixin atLarge {
            width: 1110px;
            margin: 0 auto;
        }
    }
    &_wide {
        @mixin atLarge {
            position: relative;
            max-width: 1440px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &_stats {
        @mixin atLarge {
            display: flex;
            gap: 30px;
            padding: 80px 165px;
        }
    }
    /* Manage projects */
    &_projects {
        @mixin atLarge {
            display: flex;
            position: relative;
        }
    }
}