.wrapper {
    @mixin atLarge {
        padding-left: 18px;
        padding-right: 18px;
        max-width: 1130px;
        margin-left: auto;
        margin-right: auto;
    }
    &_main {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
    }
    &_less {
        width: 1110px;
        margin: 0 auto;
    }
}